*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header, .footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.header ul {
    list-style: none;
    display: flex;
}

.header ul li a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}